
<div class="pokemon-card">

    <div class="pokemon-card__top">
        <div class="pokemon-card__top__experience">
            {{ pokemon.base_experience }}
        </div>
        <div class="">
            {{ pokemon.stats[0].base_stat }}
        </div>
    </div>

    <img class="pokemon-card__image" src="{{pokemon.sprites.front_default}}">
    <h3 class="pokemon-card__top__name">{{pokemon.name}}</h3>
    <div class="pokemon-card__types">
        <div *ngFor="let type of pokemon.types" class="pokemon-card__types__type">
            {{ type.type.name }}
        </div>
    </div>
    <div>
        {{ pokemon.flavor_text_entries[0].flavor_text }}
    </div>

</div>